# dev
python-dotenv
black
scikit-learn
joblib

# core
diskcache
pydantic
langgraph
langchain
langchain_ibm
langchain_openai
docling
requests
beautifulsoup4
pyyaml
websockets
pytesseract
torch
transformers
huggingface_hub

# consumption
fastapi
uvicorn
click
rich
mcp

# monitoring
langsmith
