@use "@carbon/colors";
@use "@carbon/layout";
@use "@carbon/type";

.keywords_cloud_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .keyword_tag {
    @include type.type-style("label-01");
    background: linear-gradient(135deg, #0f62fe 0%, #673ab7 100%);
    transition: background 0.3s ease-in-out;
    color: colors.$white;
  }
}
